body {
    background-color:lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
h1{
    color:darkslateblue;
}
img{
    border-radius:20px;
}
div a{
    border:groove;
    padding:5px;
    text-decoration:none;
    color:ghostwhite;
    background-color:grey
}

