body {
    background-color: indianred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:20px;
}
h1{
    color:whitesmoke;
    
}
img{
    border-radius:20px;
}
div a{
    border:groove;
    padding:5px;
    text-decoration:none;
    color:navajowhite;
    background-color:darkred
}

