@model IEnumerable<ReviewSite.Models.Review>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <h1>Home Page</h1>
    @foreach (var review in Model)
    {
        <div>
            <a href="/Review/Details/@review.Id">
                @review.Content
            </a>
        </div>
    }
</body>
</html>
