@model IEnumerable<ReviewSite.Models.Review>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <h1>Corgi Types</h1>

    @foreach (var review in Model)
    {
        <div>
            <a href="/Review/Details/@review.Id">
                @review.Title;
            </a>
        </div>
    }
    <img src="~/Images/CorgiMail.png" />"

</body>
</html>
